[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
fastapi = "*"
onnx = "*"
onnxruntime = "*"
uvicorn = "*"
opencv-python = "*"
loguru = "*"
python-multipart = "*"
onnxconverter-common = "*"
Pillow = "*"

[dev-packages]
black = "*"
ruff = "*"
ipython = "*"
ipywidgets = "*"
ipykernel = "*"
pipenv = "*"
scipy = "*"
torch = "*"
torchvision = "*"

[requires]
python_version = "3.10"
