[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
rsa = "*"
black = "*"
isort = "*"
pylint = "*"

[dev-packages]
pylint = "*"
black = "*"
ipykernel = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
